.App {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: linear-gradient(25deg, springgreen, deeppink);
  width: 70%;
  margin: 10vh auto;
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  color: white;
}

.App section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid white;
}

.App section button{
  padding: 12px 20px;
  max-width: 100px;
}
